In [1]:
import pandas as pd
import numpy as np

In [2]:
imoveis = pd.read_csv("imoveis.csv")
imoveis.head()

,ultimaAtualizacaoCadastral,situacao,sequencialImovel,proprietarioPrincipal,natureza,inscricaoImobiliaria,enderecoImovelNomeLogradouro,enderecoImovelMunicipio,enderecoImovelEstado,enderecoImovelComplemento,...,aliquotaImposto,situacaoPavimentacao,distrito,setor,quadra,face,lote,sequencial,longitude,latitude
0,02/12/2015,Ativo,1031171,MUNICIPIO DO RECIFE,Territorial,1.1410.190.02.0025.0000-6,RUA PAULINO GOMES DE SOUZA Q-PRACA,RECIFE,PE,NaN,...,0.00,Parcialmente Pavimentado,1,1410,190,2,25,1031171,NaN,NaN
1,29/11/2015,Ativo,1032984,MUNICIPIO DO RECIFE,Territorial,1.1410.140.01.0730.0000-0,RUA DO FUTURO Q-AREA L-D,RECIFE,PE,NaN,...,0.03,Parcialmente Pavimentado,1,1410,140,1,730,1032984,-34.904747,-8.036815
2,29/11/2015,Ativo,1049160,MUNICIPIO DO RECIFE,Predial,1.1426.030.01.0170.0000-3,RUA DR JOAQUIM ARRUDA FALCAO,RECIFE,PE,NaN,...,0.00,Parcialmente Pavimentado,1,1426,30,1,170,1049160,-34.887555,-8.040748
3,29/11/2015,Ativo,1050834,MUNICIPIO DO RECIFE,Predial,1.1426.043.01.0379.0000-4,RUA SACADURA CABRAL,RECIFE,PE,NaN,...,0.00,Não Pavimentado,1,1426,43,1,379,1050834,NaN,NaN
4,29/11/2015,Ativo,1063391,MUNICIPIO DO RECIFE,Territorial,1.1445.155.02.0670.0000-4,RUA CEL VIRGILIO DE MEDEIROS Q-A L-12,RECIFE,PE,NaN,...,0.00,Parcialmente Pavimentado,1,1445,155,2,670,1063391,-34.876882,-8.044247

In [9]:
## Acessando multiplas colunas
imoveis.loc[:, ["situacao", "natureza", "enderecoImovelNomeLogradouro"]]

     situacao     natureza           enderecoImovelNomeLogradouro
0       Ativo  Territorial     RUA PAULINO GOMES DE SOUZA Q-PRACA
1       Ativo  Territorial               RUA DO FUTURO Q-AREA L-D
2       Ativo      Predial           RUA DR JOAQUIM ARRUDA FALCAO
3       Ativo      Predial                    RUA SACADURA CABRAL
4       Ativo  Territorial  RUA CEL VIRGILIO DE MEDEIROS Q-A L-12
...       ...          ...                                    ...
3090    Ativo      Predial                       RUA AMADOR BUENO
3091    Ativo      Predial                       RUA AMADOR BUENO
3092    Ativo      Predial                       RUA AMADOR BUENO
3093    Ativo  Territorial                              RUA EDEIA
3094    Ativo      Predial                     RUA PORTAO DO GELO

[3095 rows x 3 columns]

In [10]:
imoveis[["situacao", "natureza", "enderecoImovelNomeLogradouro"]]

     situacao     natureza           enderecoImovelNomeLogradouro
0       Ativo  Territorial     RUA PAULINO GOMES DE SOUZA Q-PRACA
1       Ativo  Territorial               RUA DO FUTURO Q-AREA L-D
2       Ativo      Predial           RUA DR JOAQUIM ARRUDA FALCAO
3       Ativo      Predial                    RUA SACADURA CABRAL
4       Ativo  Territorial  RUA CEL VIRGILIO DE MEDEIROS Q-A L-12
...       ...          ...                                    ...
3090    Ativo      Predial                       RUA AMADOR BUENO
3091    Ativo      Predial                       RUA AMADOR BUENO
3092    Ativo      Predial                       RUA AMADOR BUENO
3093    Ativo  Territorial                              RUA EDEIA
3094    Ativo      Predial                     RUA PORTAO DO GELO

[3095 rows x 3 columns]

In [17]:
## Unique
imoveis["situacao"].unique()

array(['Ativo'], dtype=object)

In [20]:
imoveis["natureza"].unique()

#for column in imoveis.columns:
#    if (len(imoveis[column].unique()) == 1):
#        print(column)

array(['Territorial', 'Predial'], dtype=object)

In [22]:
## value_counts
imoveis["natureza"].value_counts()

Predial        2402
Territorial     693
Name: natureza, dtype: int64

In [23]:
imoveis["natureza"].value_counts(normalize=1)

Predial        0.77609
Territorial    0.22391
Name: natureza, dtype: float64

In [44]:
## group by
coluna_para_agrupar = "enderecoImovelBairro"
coluna_para_consultar = ["enderecoImovelBairro", "valorAreaConstruidaM2"]
imoveis[coluna_para_consultar].groupby(coluna_para_agrupar).sum()

                      valorAreaConstruidaM2
enderecoImovelBairro
AFOGADOS                            8152.71
AGUA FRIA                           4026.42
ALTO DO MANDU                        327.41
ALTO JOSE BONIFACIO                  877.38
ALTO JOSE DO PINHO                   458.43
...                                     ...
TORRE                                892.83
TORROES                             1982.19
VARZEA                              5022.53
VASCO DA GAMA                       2663.01
ZUMBI                                327.41

[80 rows x 1 columns]

In [43]:
assaltos = pd.DataFrame({
    "Mes": ["Janeiro","Fevereiro","Marco","Janeiro","Fevereiro", "Marco"],
    "bairro": ["Cordeiro", "Cordeiro", "Cordeiro", "Boa Viagem", "Boa Viagem", "Boa Viagem"],
    "Numero de assaultos por mes": [0, 5, 10, 10, 20, 15],
})
assaltos[["Mes", "Numero de assaultos por mes"]].groupby("Mes").sum()

           Numero de assaultos por mes
Mes
Fevereiro                           25
Janeiro                             10
Marco                               25

In [ ]:
pd.read_csv("nomeArquivo.csv", sep=";")