In [1]:
# Importe NumPy como np
# importe pandas como pd
# Crie um Serie com números de 1 a 26 usando numpy
# Adicione 1 a cada item da serie
# Calcule a media dos valores da serie
# Crie uma serie com 3 números aleatórios usando numpy.random
# Opcional:
# Crie outra Serie:
# com o nome da serie serie_alfabeto;
# com números de 1 a 26;
# Usando as letras do alfabeto como indice

In [64]:
# Importe NumPy como np
# importe pandas como pd
import numpy as np
import pandas as pd
import numpy.random
import string

In [68]:
# Crie um Serie com números de 1 a 26 usando numpy
numeros = pd.Series(np.arange(1,27,1))
numeros

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
dtype: int32

In [69]:
# Adicione 1 a cada item da serie
numeros = numeros + 1
numeros

0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     10
9     11
10    12
11    13
12    14
13    15
14    16
15    17
16    18
17    19
18    20
19    21
20    22
21    23
22    24
23    25
24    26
25    27
dtype: int32

In [70]:
# Calcule a media dos valores da serie
media = numeros.mean()
print("Média: ", media)

Média:  14.5

In [63]:
# Crie uma serie com 3 números aleatórios usando numpy.random
num_aleatorios = pd.Series(numpy.random.randint(1,101,3))
num_aleatorios

0    91
1     6
2     5
dtype: int32

In [75]:
# Crie outra Serie:
# com o nome da serie serie_alfabeto;
# com números de 1 a 26;
# Usando as letras do alfabeto como indice
letras = list(string.ascii_uppercase)
serie_alfabeto = pd.Series(np.arange(1,27), letras, name = "serie_alfabeto")
serie_alfabeto

A     1
B     2
C     3
D     4
E     5
F     6
G     7
H     8
I     9
J    10
K    11
L    12
M    13
N    14
O    15
P    16
Q    17
R    18
S    19
T    20
U    21
V    22
W    23
X    24
Y    25
Z    26
Name: serie_alfabeto, dtype: int32